.fade-enter-active,.fade-leave-active{transition:opacity .2s}.fade-enter-from,.fade-leave-to{opacity:0}.slide-enter-active{transition:transform .3s ease}.slide-enter-from,.slide-leave-to{transform:translate(-100%)}
